<div fxLayout="row" fxLayoutAlign="space-between center" class="flex-p">
    <div fxLayout="row">
        <mat-button-toggle-group #controls="matButtonToggleGroup">            
            <mat-button-toggle value="add" (click)="openUserDialog(null)">
                <mat-icon>person_add</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="search">
                <mat-icon>search</mat-icon>
            </mat-button-toggle>           
        </mat-button-toggle-group>            
    </div>
    <form class="user-search" [class.show]="controls.value == 'search'">
        <mat-form-field class="user-search-input">
            <input matInput placeholder="Search user by name..." [(ngModel)]="searchText" name="search">
        </mat-form-field>
    </form>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-button-toggle-group #viewType="matButtonToggleGroup">            
            <mat-button-toggle value="grid" checked="true">
                <mat-icon>view_module</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="list">
                <mat-icon>view_list</mat-icon>
            </mat-button-toggle>           
        </mat-button-toggle-group>
    </div>
</div>

<div *ngIf="viewType.value == 'grid'" fxLayout="row wrap">    
    <!--<div *ngFor="let user of users | UserSearchPipe : searchText | paginate: { itemsPerPage: 6, currentPage: page }" fxFlex="100" fxFlex.gt-md="33.3" fxFlex.md="50" class="flex-p">-->
    <div *ngFor="let user of listUsers | UserSearchPipe : searchText | paginate: { itemsPerPage: 6, currentPage: page }" fxFlex="100" fxFlex.gt-md="33.3" fxFlex.md="50" class="flex-p">
    <mat-card class="p-0">
            <div class="bg-primary" fxLayout="row" fxLayoutAlign="space-between center">
                <!--<h3 *ngIf="!user.settings.isDeleted" class="user-name">{{user.profile.name}} {{user.profile.surname}}</h3>
                <h3 *ngIf="user.settings.isDeleted" class="user-name">User blocked</h3>-->
                <h3 *ngIf="!user.locked" class="user-name">{{user.prenom}} {{user.nom}}</h3>
                <h3 *ngIf="user.locked" class="user-name">User blocked</h3>
                <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>
            <mat-menu #menu="matMenu" xPosition="before">
                <span (mouseleave)="menuTrigger.closeMenu()">
                    <button mat-menu-item (click)="openUserDialog(user)">
                        <mat-icon>mode_edit</mat-icon>
                        <span>Modifier</span>
                    </button>
                    <button mat-menu-item (click)="deleteUser(user);">
                        <mat-icon>delete</mat-icon>
                        <span>Supprimer</span>
                    </button>
                </span>
            </mat-menu>
            <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
                <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center">
                    <div class="user-img">
                        <!--<img *ngIf="user.profile.image" [src]="user.profile.image" class="transition-2" [class.blocked]="user.settings.isDeleted">
                        <img *ngIf="!user.profile.image" src="assets/img/users/default-user.jpg" class="transition-2" [class.blocked]="user.settings.isDeleted">-->
                        <img *ngIf="user.url_photo" [src]="'http://'+ user.url_photo" class="transition-2" [class.blocked]="user.locked">
                        <img *ngIf="!user.url_photo" src="assets/img/users/default-user.jpg" class="transition-2" [class.blocked]="user.locked">
                        <!--<mat-icon *ngIf="user.settings.isDeleted" class="warn-color">block</mat-icon>-->
                        <mat-icon *ngIf="user.locked" class="warn-color">block</mat-icon>
                    </div>
                    <div class="user-social">
                        <!--<mat-slide-toggle color="primary" [checked]="user.settings.isDeleted" (change)="user.settings.isDeleted = !user.settings.isDeleted"></mat-slide-toggle>-->
                        <mat-slide-toggle color="primary" [checked]="user.locked" (change)="user.locked = !user.locked"></mat-slide-toggle>
                    </div>
                </div>
                <!--<div fxFlex="70" fxLayout="column" class="user-details transition-2" [class.blocked]="user.settings.isDeleted">-->
                <div fxFlex="70" fxLayout="column" class="user-details transition-2" [class.blocked]="user.locked">
                    <p fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="muted-text">card_membership</mat-icon>&nbsp;&nbsp;&nbsp;
                        <span><!--{{user.work.position}}--> {{user.profil.libelle}}</span>
                    </p>
                    <p fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="muted-text">mail_outline</mat-icon>&nbsp;&nbsp;&nbsp;
                        <span><!--{{user.contacts.email}}--> {{user.email}}</span>
                    </p>
                    <p fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="muted-text">call</mat-icon>&nbsp;&nbsp;&nbsp;
                        <span><!--{{user.contacts.phone}}--> {{user.telephone}}</span>
                    </p>
                    <p fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="muted-text">location_on</mat-icon>&nbsp;&nbsp;&nbsp;
                        <span><!--{{user.contacts.address}}--> {{user.fixe}}</span>
                    </p>
                    <p fxLayout="row" fxLayoutAlign="start center">&nbsp;&nbsp;&nbsp;
                        <mat-icon class="muted-text">date_range</mat-icon>&nbsp;&nbsp;&nbsp;
                        <!--<span>Joined {{user.settings.joinedDate | date:"dd MMMM, yyyy 'at' HH:mm"}}</span>-->
                        <span>Dernière connexion {{user.last_login | date:"dd MMMM, yyyy 'at' HH:mm"}}</span>
                    </p>
                </div>
            </div>
        </mat-card>
    </div>
</div>

<div *ngIf="viewType.value == 'list'" fxLayout="row wrap">
    <div *ngFor="let user of listUsers | UserSearchPipe : searchText | paginate: { itemsPerPage: 6, currentPage: page }" fxFlex="100" class="flex-p">
        <mat-card class="p-0">  
            <div class="bg-primary" fxLayout="row" fxLayoutAlign="space-between center">
                <!--<h3 *ngIf="!user.settings.isDeleted" class="user-name">{{user.profile.name}} {{user.profile.surname}}</h3>
                <h3 *ngIf="user.settings.isDeleted" class="user-name">User blocked</h3>-->
                <h3 *ngIf="!user.locked" class="user-name">{{user.prenom}} {{user.nom}}</h3>
                <h3 *ngIf="user.locked" class="user-name">User blocked</h3>
                <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>
            <mat-menu #menu="matMenu" xPosition="before">
                <span (mouseleave)="menuTrigger.closeMenu()">
                    <button mat-menu-item (click)="openUserDialog(user);">
                        <mat-icon>mode_edit</mat-icon>
                        <span>Edit</span>
                    </button>
                    <button mat-menu-item (click)="deleteUser(user);">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                </span>
            </mat-menu>
            <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
                <div fxFlex="20" fxFlex.xs="30" fxLayout="column" fxLayoutAlign="center center">
                    <div class="user-img">
                        <!--<img *ngIf="user.profile.image" [src]="user.profile.image" class="transition-2" [class.blocked]="user.settings.isDeleted">
                        <img *ngIf="!user.profile.image" src="assets/img/users/default-user.jpg" class="transition-2" [class.blocked]="user.settings.isDeleted"> -->
                        <img *ngIf="user.urlPhoto" [src]="user.urlPhoto" class="transition-2" [class.blocked]="user.locked">
                        <img *ngIf="!user.urlPhoto" src="assets/img/users/default-user.jpg" class="transition-2" [class.blocked]="user.locked">
                        <!--<mat-icon *ngIf="user.settings.isDeleted" class="warn-color">block</mat-icon>-->
                        <mat-icon *ngIf="user.locked" class="warn-color">block</mat-icon>
                    </div>                                            
                    <div class="user-social">
                        <!--<mat-slide-toggle color="primary" [checked]="user.settings.isDeleted" (change)="user.settings.isDeleted = !user.settings.isDeleted"></mat-slide-toggle>-->
                        <mat-slide-toggle color="primary" [checked]="user.locked" (change)="user.locked = !user.locked"></mat-slide-toggle>
                    </div>
                </div>
                <div fxFlex="80" fxFlex.xs="70" fxLayout="row" fxLayout.xs="column" class="user-details transition-2" [class.blocked]="user.locked">
                    <div fxFlex="30" fxFlex.xs="100" fxLayout="column">
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text">business</mat-icon>
                            <span>{{user.structure.libelle}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text">card_membership</mat-icon>
                            <span>{{user.profil.libelle}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text">card_membership</mat-icon>
                            <span>{{user.matricule}}</span>
                        </p>                                               
                    </div>
                    <div fxFlex="30" fxFlex.xs="100" fxLayout="column">
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text">mail_outline</mat-icon>
                            <span>{{user.email}}</span>
                        </p> 
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text">call</mat-icon>
                            <span>{{user.telephone}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text">call</mat-icon>
                            <span>{{user.fixe}}</span>
                        </p>                        
                    </div>
                    <div fxFlex="40" fxFlex.xs="100" fxLayout="column">
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text">event_available </mat-icon>
                            <span>Inscription {{user.last_login | date:"dd MMMM, yyyy 'at' HH:mm"}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text">date_range</mat-icon>&nbsp;&nbsp;&nbsp;
                            <span>Dernière connexion {{user.last_login | date:"dd MMMM, yyyy 'at' HH:mm"}}</span>
                        </p> 
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon *ngIf="user.locked" class="muted-text">person_outline</mat-icon>
                            <mat-icon *ngIf="!user.locked" class="muted-text">person</mat-icon>
                            <span>{{ (user.locked) ? 'Bloqué' : 'Actif' }}</span>
                        </p>                       
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>

<div *ngIf="users" fxLayout="row wrap">
    <div fxFlex="100" class="flex-p"> 
        <mat-card class="p-0 text-center">           
            <pagination-controls class="gradus-pagination" autoHide="true" maxSize="3" (pageChange)="onPageChanged($event)"></pagination-controls>
        </mat-card>
    </div>
</div>

<!--<div *ngIf="!users" fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <mat-spinner color="primary"></mat-spinner>    
</div>-->
<div *ngIf="!listUsers" fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <mat-spinner color="primary"></mat-spinner>
</div>