<mat-sidenav-container>

  <div fxLayout="row" fxLayoutAlign="center center" class="h-100">

    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60">
      <!--<form [formGroup]="form" (ngSubmit)="OnSubmit(Password.value)" fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60">-->
        <mat-card class="p-0 mat-elevation-z24 box">
          <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header">
            <button mat-fab color="accent" class="mat-elevation-z12" (click)="onSubmit(form.value);">
              <mat-icon>exit_to_app</mat-icon>
            </button>
          </div>
          <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
            <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner">
              <span class="box-content-header">Ré-initialisation</span>
              <mat-form-field class="w-100">
                <input type="password" matInput placeholder="Nouveau mot de passe" formControlName="password" #Password ngModel name="Password">
                <mat-error *ngIf="form.controls.password.errors?.required">Le mot de passe est obligatoire</mat-error>
                <mat-error *ngIf="form.controls.password.hasError('minlength')">Minimum 6 caractères</mat-error>
              </mat-form-field>
              <mat-form-field class="w-100">
                <input type="password" matInput placeholder="Confirmation" formControlName="confirmation" #Confirmation ngModel name="Confirmation">
                <mat-error *ngIf="form.controls.confirmation.errors?.required">Confirmation de mot de passe obligatoire</mat-error>
                <mat-error *ngIf="form.controls.confirmation.hasError('mismatchedPasswords')">Les deux mots de passe ne correspondent pas</mat-error>
              </mat-form-field>
            </mat-card>
            <button mat-raised-button color="primary" class="mat-elevation-z12 box-button" type="submit" >
              VALIDER
                          <span *ngIf="isSubmitted" fxLayout="row" fxLayoutAlign="center center">
                              <mat-spinner [diameter]="15" color="accent"></mat-spinner>
                          </span>
            </button>
          </mat-card-content>
        </mat-card>

      </form>

    </div>

  </mat-sidenav-container>