<div fxLayout="column">
    <div class="flex-p">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-button-toggle-group #controls="matButtonToggleGroup" >
                <mat-button-toggle value="search">
                    <mat-icon>search</mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>
           <button mat-raised-button pull-right color="accent" (click)="exportAsExcel()"><mat-icon>get_app</mat-icon>Exporter</button>
        </div>
        <form class="controle-search" [class.show]="controls.value == 'search'">
            <mat-form-field class="controle-search-input">
                <input matInput placeholder="Search controle by reference..." name="search">
            </mat-form-field>
        </form>
        <div fxLayout="column" class="mat-elevation-z8">
            <mat-form-field class="p-1">
                <input matInput placeholder="Type to filter the reference column..." (keyup)="updateFilter($event)">
            </mat-form-field>
        </div>
        <ngx-datatable
                #table
                class="material"
                [headerHeight]="50"
                [limit]="10"
                [columnMode]="'force'"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [rows]="rows"
                [loadingIndicator]="loadingIndicator"
                [selected]="selected"
                [selectionType]="'checkbox'"
                (activate)="onActivate($event)"
                (select)='onSelect($event)'>
            <ngx-datatable-column
                    [width]="30"
                    [sortable]="false"
                    [canAutoResize]="false"
                    [draggable]="true"
                    [resizeable]="false"
                    [headerCheckboxable]="true"
                    [checkboxable]="true">
            </ngx-datatable-column>

            <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                    <span>reference</span>
                </ng-template>
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    {{row.reference}}

                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                    <span>Type</span>
                </ng-template>
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                    {{row.controle.type_controle.code}}
                </ng-template>
            </ngx-datatable-column>
            <!--<ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                    <span>Risque identifié</span>
                </ng-template>
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                    {{row.risque_identifie}}
                </ng-template>
            </ngx-datatable-column>-->
            <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                    <span>Activité</span>
                </ng-template>
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                    {{row.controle.activite.libelle}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                    <span>Libellé</span>
                </ng-template>
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                    {{row.controle.libelle}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                    <span>Périodicité</span>
                </ng-template>
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                    {{row.controle.periodicite.libelle}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                    <span>Porteur</span>
                </ng-template>
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                    {{ row.porteur? row.porteur.prenom+ ' '+row.porteur.nom: '' }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                    <span>Structure</span>
                </ng-template>
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                    {{row.porteur.structure.pere ? row.porteur.structure.pere.pere?  row.porteur.structure.pere.pere.libelle :''+'/'+row.porteur.structure.pere?row.porteur.structure.pere.libelle:''+'/'+row.porteur.structure.libelle : ''}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="actions" prop="id">
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-rowIndex="rowIndex">
                    <a (click)="detailsControle(row);" matTooltip="Détails du contrôle">
                        <mat-icon>visibility</mat-icon>
                    </a>
                    <a (click)="editControle(row);" matTooltip="Modifier le contrôle">
                        <mat-icon>settings</mat-icon>
                    </a>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>
