<mat-sidenav-container>

  <div fxLayout="row" fxLayoutAlign="center center" class="h-100">

    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60">

      <mat-card class="p-0 mat-elevation-z24 box">
        <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header">
          <button mat-fab color="accent" class="mat-elevation-z12" (click)="onSubmit(form.value);">
            <mat-icon>person_add</mat-icon>
          </button>
          <a mat-button routerLink="/">Vous vous souvenez de votre mot de passe? Connexion!</a>
        </div>
        <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
          <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner">
            <span class="box-content-header">Mot de passe oublié</span>
            <mat-form-field class="w-100">
              <input matInput placeholder="Nom d'utilisateur ou adresse e-mail" formControlName="email">
              <mat-error *ngIf="form.controls.email.errors?.required">Ce champ est obligatoire</mat-error>
              <!--<mat-error *ngIf="form.controls.email.hasError('invalidEmail')">Adresse email invalide</mat-error>-->
            </mat-form-field>
          </mat-card>
          <button mat-raised-button color="primary" class="mat-elevation-z12 box-button" type="submit">
            ENVOYER
            <span *ngIf="isSubmitted" fxLayout="row" fxLayoutAlign="center center">
              <mat-spinner [diameter]="15" color="accent"></mat-spinner>
            </span>
          </button>
        </mat-card-content>
      </mat-card>

    </form>

  </div>

</mat-sidenav-container>