<ion-header>
    <ion-toolbar>
        <ion-title>
            App Shopping
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <p>C'est ici qu'on affichera les articles à vendre</p>
    <img href="src/assets/icon/favicon.png" alt="" />
    <ul *ngFor="let article of Articles">
        <li>
            {{ article.nom }} - {{ article.prix }} <br />{{ article.details }}
            <button ion-button (click)="showDetails(article)">Détails</button>
        </li>
    </ul>
</ion-content>

<ion-footer class="mon-footer">
    <p>Ceci est notre pied de page</p>
</ion-footer>